/* Réinitialisation des styles et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* Styles pour la barre de navigation */
header {
  z-index: 1000; /* Valeur supérieure pour la superposition */
  background-color: transparent; /* Fond transparent */
  width: 100%;
}

/* Styles pour centrer les éléments de navigation horizontalement */
nav {
  display: flex;
  justify-content: center; /* Centre horizontalement les éléments de la liste */
  align-items: center;
  height: 50px; /* Ajustez la hauteur de la barre de navigation selon vos besoins */
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
}


/* Effet de survol des liens */
a:hover {
  color: #0076e3; /* Couleur bleue au survol */
}


/* Styles pour le logo */
.logo-container {
  display: flex;
  align-items: center;
  margin-right: 50px; /* Augmentez la marge à droite pour décaler davantage le logo vers la droite */
}

.logo-container img {
  width: 100px; /* Ajustez la largeur du logo selon vos besoins */
  height: auto; /* Permet à la hauteur de s'ajuster automatiquement pour conserver les proportions */
}


/* Styles pour la barre de navigation */
header {
  z-index: 1000; /* Valeur supérieure pour la superposition */
  background-color: transparent; /* Fond transparent */
  width: 100%;
  position: relative; /* Permet de positionner les éléments enfants par rapport à cette barre de navigation */
}

/* Styles pour la première image de la section hero */
.hero {
  /* Ajoutez le chemin de votre image */
  background-size: cover; /* Ajuster la taille de l'image au contenu */
  background-position: center; /* Centrer l'image horizontalement et verticalement */
  color: #000000; /* Couleur du texte sur l'image d'arrière-plan */
  text-align: left; /* Aligner le texte à gauche */
  padding: 100px 0; /* Espacement pour le contenu de la section hero */
  position: relative; /* Permet de positionner cette section par rapport à la barre de navigation */
  top: -50px; /* Décale la section vers le haut pour la superposer à la barre de navigation */
}
   


/* Style de la première section hero avec une image de fond */
.hero {
  
  background-size: cover; /* Ajuster la taille de l'image au contenu */
  background-position: center; /* Centrer l'image horizontalement et verticalement */
  color: #000000; /* Couleur du texte sur l'image d'arrière-plan */
  text-align: left; /* Aligner le texte à gauche */
  padding: 100px 0; /* Espacement pour le contenu de la section hero */
}

/* Styles pour la deuxième section hero avec une image de fond */
.hero-2 {
  
  background-size: cover; /* Ajuster la taille de l'image au contenu */
  background-position: center; /* Centrer l'image horizontalement et verticalement */
  color: #000000; /* Couleur du texte sur l'image d'arrière-plan */
  text-align: left; /* Aligner le texte à gauche */
  padding: 100px 0; /* Espacement pour le contenu de la section hero */
}


/* Styles pour le contenu de la section hero */
.hero-content, .hero-2 .hero-content {
  max-width: 600px; /* Limiter la largeur du contenu */
  margin: 0 auto; /* Centrer le contenu horizontalement */
  text-align: left; /* Aligner le texte à gauche */
}

/* Styles pour le titre de la section hero */
.hero-title, .hero-2 .hero-title {
  font-size: 58px; /* Augmenter la taille du titre */
  margin-bottom: 20px;
  line-height: 1.3; /* Ajuster l'espacement des lignes */
  color: #000; /* Couleur de texte noire */
  
}

/* Styles pour les paragraphes de la section hero */
p, .hero-2 p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Styles pour le bouton "S'abonner" (cta-button) */
#togglePricingButton {
  background-color: #0285e2; /* Couleur de fond bleu métallique */
  color: #fff; /* Couleur du texte en blanc */
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; /* Curseur de souris en main pour indiquer la clicabilité */
  transition: background-color 0.3s; /* Transition de couleur de fond au survol */
  margin-top: 20px; /* Marge supplémentaire en haut du bouton */
}

#togglePricingButton:hover {
  background-color: #0076e3; /* Couleur de fond bleue au survol */
}







/* Styles pour la deuxième section hero avec une image de fond */
.hero-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  color: #000000;
  text-align: left;
  padding: 100px 20px; /* Ajustez selon vos besoins */
  background: none; /* Supprimez le fond de l'image */
  background-color: #ffffff;
}

/* Styles améliorés pour le contenu de la deuxième section héros */
.hero-2 .hero-content {
  max-width: 800px; /* J'ai augmenté la largeur maximale pour un meilleur ajustement */
  margin: 0 auto;
  text-align: center; /* Centré le contenu */
  position: relative;
  right: 0;
  color: #333; /* J'ai changé la couleur du texte à un ton plus foncé pour une meilleure lisibilité */
}

/* Styles améliorés pour le titre de la deuxième section héros */
.hero-2 .hero-title {
  font-size: 40px; /* J'ai légèrement augmenté la taille du titre */
  margin-bottom: 30px; /* Réduit l'espacement en bas du titre */
  line-height: 1.5; /* Ajuste la hauteur de ligne pour une meilleure lisibilité */
  color: #000; /* Conserve la couleur du titre */
}

/* Styles améliorés pour les paragraphes de la deuxième section héros */
.hero-2 p {
  font-size: 20px; /* J'ai augmenté la taille de la police pour le texte */
  margin-bottom: 25px; /* Réduit l'espacement en bas des paragraphes */
}

/* Styles pour la grille de produits */
.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles pour chaque produit dans la grille */
.product {
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #f4f4f4; /* Ajout d'une couleur de fond pour mieux délimiter les produits */
  padding: 15px; /* Ajout de rembourrage pour un meilleur espacement interne */
  border-radius: 8px;
}

/* Styles pour l'image du produit */
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

User

/* Styles pour la deuxième section hero avec une image de fond */
.hero-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  color: #000000;
  text-align: left;
  padding: 100px 20px; /* Ajustez selon vos besoins */
  background: none; /* Supprimez le fond de l'image */
  background-color: #ffffff;
}

/* Styles améliorés pour le contenu de la deuxième section héros */
.hero-2 .hero-content {
  max-width: 800px; /* J'ai augmenté la largeur maximale pour un meilleur ajustement */
  margin: 0 auto;
  text-align: center; /* Centré le contenu */
  position: relative;
  right: 0;
  color: #333; /* J'ai changé la couleur du texte à un ton plus foncé pour une meilleure lisibilité */
}

/* Styles améliorés pour le titre de la deuxième section héros */
.hero-2 .hero-title {
  font-size: 40px; /* J'ai légèrement augmenté la taille du titre */
  margin-bottom: 30px; /* Réduit l'espacement en bas du titre */
  line-height: 1.5; /* Ajuste la hauteur de ligne pour une meilleure lisibilité */
  color: #000; /* Conserve la couleur du titre */
}

/* Styles améliorés pour les paragraphes de la deuxième section héros */
.hero-2 p {
  font-size: 20px; /* J'ai augmenté la taille de la police pour le texte */
  margin-bottom: 25px; /* Réduit l'espacement en bas des paragraphes */
}

/* Nouveaux styles pour la grille de photos rondes */
.photo-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; /* Ajustez la marge selon vos préférences */
}

.round-photo {
  text-align: center;
}

.round-photo img {
  border-radius: 70%; /* Rend l'image ronde */
  width: 200px; /* Ajustez la taille de l'image selon vos préférences */
  height: 200px;
  object-fit: cover; /* Conserve les proportions de l'image */
}

.round-photo p {
  margin-top: 10px; /* Espacement entre l'image et le texte en dessous */
  font-weight: bold;
}

.hero  section-hero-3{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s, opacity 0.5s;
}

.api img {
  max-width: 100px;
  margin-bottom: 20px;
}

.api-content {
  max-width: 600px;
  text-align: center;
}

.api.visible {
  opacity: 1;
  transform: translateY(0);
}



.hero.hero-4 .card {
  width: 100%; /* Les cartes prennent toute la largeur du conteneur */
  max-width: 300px; /* Limite la largeur des cartes pour éviter qu'elles ne soient trop larges */
  height: 300px; /* Hauteur fixe des cartes */
  background-color: #fff; /* Couleur de fond des cartes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
  border-radius: 8px; /* Coins arrondis pour les cartes */
  text-align: left; /* Alignement du texte à gauche dans les cartes */
  padding: 20px; /* Espacement intérieur du contenu des cartes */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Styles pour la cinquième section hero avec une image de fond */
.hero-5 {
  background-color: none; /* Changement de la couleur de fond à blanc */
  text-align: left;
  padding: 100px 0;
  position: relative;
  top: -50px;
  background: none;
}


/* Ajoutez ces styles pour le bouton de contact */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Couleur de fond du bouton */
  color: #ffffff; /* Couleur du texte du bouton */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Effet de transition sur le survol */
}

.button:hover {
  background-color: #f5fbfe; /* Nouvelle couleur de fond au survol */
}




/* Styles pour le pied de page */
footer {
  text-align: center;
  padding: 20px 0; /* Ajoutez de la marge en haut et en bas du pied de page */
  background-color: #f4f4f4; /* Ajoutez une couleur de fond pour le pied de page */
}

/* Styles pour la navigation dans le pied de page */
footer nav {
  margin-bottom: 10px; /* Ajoutez de l'espace entre la navigation et les icônes sociales */
}

/* Styles pour les icônes sociales dans le pied de page */
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Ajoutez de l'espace entre les icônes sociales et le texte du pied de page */
}

.social-icons a {
  margin: 0 10px; /* Ajoutez de l'espace entre les icônes sociales */
}


/* Styles pour la liste et les boutons */
body {
  font-family: Arial, sans-serif; /* Utilisation d'une police générique */
  margin: 0;
  padding: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff; /* Couleur de fond pour la barre de navigation */
}
nav ul li {
  float: left; /* Pour aligner les éléments côte à côte */
}

nav ul li a:hover {
  background-color: #ffffff; /* Couleur de fond au survol */
}


.centered-image {
  text-align: center;
  margin-top: 20px; /* Ajuster selon votre mise en page */
}

.centered-image-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.centered-image img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  height: auto; /* Pour maintenir le ratio hauteur/largeur */
  display: block; /* Pour centrer l'image correctement */
  margin: 0 auto; /* Centrer l'image horizontalement */
}


/* Pour les écrans jusqu'à 768px de large */
@media screen and (max-width: 768px) {
  .hero-title {
      font-size: 24px; /* Réduire la taille du titre */
  }
  .hero-content {
      padding: 20px; /* Ajouter un espacement pour une meilleure lisibilité */
  }
}

/* Pour les écrans plus petits, comme les téléphones */
@media screen and (max-width: 480px) {
  .hero-title {
      font-size: 20px; /* Adapter encore plus pour les petits écrans */
  }
}
